 <hr><strong> <br> <br> <br></strong>
<hr>
<ion-item class="redondeado">
  <ion-label position="floating"><strong>Usuario</strong></ion-label>
  <ion-input type="email" [(ngModel)]="email"></ion-input>
</ion-item>
<hr>
<ion-item class="redondeado">
  <ion-label position="floating"><strong>Clave</strong></ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
</ion-item>
<hr>


<div text-center margin-top>
  <ion-button (click)="login()" color="primary" expand="block">
    Iniciá sesión
  </ion-button>
  <ion-button expand="block" color="secondary" (click)="register()">
    Registrarse
  </ion-button>
  <ion-button expand="block" color="tertiary" (click)="anonimo()">
    Ingresar como anónimo
  </ion-button>
</div>

<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="completarUsuario('socio')" title="Socio">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="completarUsuario('mozo')" title="Mozo">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="completarUsuario('cocinero')" title="Cocinero">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="completarUsuario('bartender')" title="Bartender">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="completarUsuario('cliente')" title="Cliente">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="completarUsuario('anonimo')" title="Anonimo">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
