<ion-grid>
  <form [formGroup]="formulario">
    <ion-row>
      <ion-col>
        <ion-item class="redondeado">
          <ion-label position="floating"><strong>Usuario</strong></ion-label>
          <ion-input formControlName="usuario" type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="redondeado">
          <ion-label position="floating"><strong>Clave</strong></ion-label>
          <ion-input formControlName="clave" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <ion-button (click)="login()" color="primary" expand="block">
        Iniciá sesión
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="secondary" (click)="register()">
        Registrarse
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="tertiary" (click)="anonimo()">
        Ingresar como anónimo
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button>
    <ion-icon name="people-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button
      class="tamfuente"
      (click)="completarUsuario('socio')"
      title="Socio"
    >
      Socio
    </ion-fab-button>
    <ion-fab-button
      class="tamfuente"
      (click)="completarUsuario('mozo')"
      title="Mozo"
    >
      Mozo
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button
      class="tamfuente"
      (click)="completarUsuario('cocinero')"
      title="Cocinero"
    >
      Cocinero
    </ion-fab-button>
    <ion-fab-button
      class="tamfuente"
      (click)="completarUsuario('metre')"
      title="Metre"
    >
      Metre
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="top">
    <ion-fab-button
      class="tamfuente"
      (click)="completarUsuario('cliente')"
      title="Cliente"
    >
      Cliente
    </ion-fab-button>
    <ion-fab-button
      class="tamfuente"
      (click)="completarUsuario('bartender')"
      title="Bartender"
    >
      Bartender
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
