<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrado">
    <ion-card class="ion-text-center">
      <img class="fotocentrada" src="{{fotoUsuario}}" width="48" height="48" />
      <ion-card-header>
        <ion-card-subtitle>{{esperando}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          [class.ion-hide]="datosLista !== null"
          color="primary"
          shape="round"
          expand="full"
          (click)="escanearQREntrada()"
          ><ion-icon slot="start" name="qr-code-sharp"></ion-icon>Escanear
        </ion-button>
        <ion-button
          [class.ion-hide]="esperandoEntrada"
          color="primary"
          shape="round"
          expand="full"
          (click)="escanearQRMesa()"
          ><ion-icon slot="start" name="qr-code-sharp"></ion-icon>Escanear
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<div *ngFor="let docProducto of listaProductosActivos | async">
  <p>Nombre de producto: {{docProducto.data().nombre}}</p>
</div>

<ion-footer>
  <ion-button
    color="danger"
    shape="round"
    expand="full"
    (click)="desloguearse()"
    >Salir</ion-button
  >
</ion-footer>
