.rango {
    display: block;
}

.radio{
    color: #5260ff;
    font-size: 15px;
}

.radiob{
    text-align: center;
    font-size: 8px;
    size: 5px;
}

.centrado{
    text-align: center;
    color: #3880ff; //color: orangered;
    font-size: 15;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.seleccion {
    color: #3880ff; //color: orangered;
    font-size: 10;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#50c8ff;// pink;
    border-color: black;
    border-radius: 5px;
    text-align: center;
}

ion-textarea {

background-color:#50c8ff;//pink;
border-radius: 10px;
font-size: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;

}


