<ion-content fullscreen>
  <ion-item>
    <ion-buttons>
      <ion-button (click)="volverAlPedido()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label class="centrado"><strong>ENCUESTA DE SATISFACCIÓN</strong></ion-label>
  </ion-item>


  <ion-label position="fixed" class="centrado">Por favor, califica el estado de la mesa,</ion-label>


  <ion-label position="fixed" class="centrado">la atención del mozo y del cocinero:</ion-label>


  <form [formGroup]="encuestaForm" (ngSubmit)="onSubmit()">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="seleccion" position="floating"><strong>MESA</strong></ion-label>
            <ion-select value="null" formControlName="estadoMesa" [disabled]="this.hayEncuesta">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="seleccion" position="floating"><strong>MOZO</strong></ion-label>
            <ion-select value="null" formControlName="mozo" [disabled]="this.hayEncuesta">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="seleccion" position="floating"><strong>COCINERO</strong></ion-label>
            <ion-select value="null" formControlName="cocinero" [disabled]="this.hayEncuesta">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>





    <ion-item>

      <ion-label class="centrado"><strong>Califica nuestro servicio en conjunto</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-range formControlName="servicioGral" min="1" max="5" step="1" pin value="null" snaps color="secondary"
        name="selectorUsuario" [disabled]="this.hayEncuesta">
        <ion-icon slot="start" color="primary" name="sad"></ion-icon>
        <ion-icon slot="end" color="primary" name="happy"></ion-icon>
      </ion-range>
    </ion-item>


    <!-- <ion-item-group> 
    <ion-item>
      <ion-list>
        <ion-radio-group formControlName="queTeGusto" value="atencion">
          <ion-list-header>
            <ion-label class="centrado"><strong>¿Qué fue lo que mas te gustó?</strong></ion-label>
          </ion-list-header>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label class="radio">Atención</ion-label>
                  <ion-radio slot="start" color="secondary" value="Atencion"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label class="radio">Nada</ion-label>
                  <ion-radio slot="start" color="secondary" value="Nada"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label class="radio">Comida</ion-label>
                  <ion-radio slot="start" color="secondary" value="Comida"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label class="radio">Limpieza</ion-label>
                  <ion-radio slot="start" color="secondary" value="Limpieza"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-radio-group>
      </ion-list>
    </ion-item>
  </ion-item-group>  -->

    <ion-item [disabled]="this.hayEncuesta">

      <ion-radio-group formControlName="queTeGusto" value="atencion">
        
          <ion-label class="centrado"><strong>¿Qué fue lo que mas te gustó?</strong></ion-label>
          <br>
        
        <ion-item>
          <ion-chip outline color="tertiary">
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-label>ATENCION</ion-label>
          </ion-chip>
          <ion-radio slot="start" color="secondary" value="Atencion"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-chip outline color="tertiary">
            <ion-icon name="restaurant"></ion-icon>
            <ion-label>COMIDA</ion-label>
          </ion-chip>
          <ion-radio slot="start" color="secondary" value="Comida"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-chip outline color="tertiary">
            <ion-icon name="medical"></ion-icon>
            <ion-label>LIMPIEZA</ion-label>
          </ion-chip>
          <ion-radio slot="start" color="secondary" value="Limpieza"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-chip outline color="tertiary">
            <ion-icon name="sad"></ion-icon>
            <ion-label>NADA</ion-label>
          </ion-chip>
          <ion-radio slot="start" color="secondary" value="Nada"></ion-radio>
        </ion-item>

      </ion-radio-group>

    </ion-item>


    <ion-item>
      <ion-label class="centrado"><strong>Tu comentario nos interesa!</strong></ion-label>
    </ion-item>
      <ion-item>
      <ion-textarea formControlName="areaComentario" value="" [disabled]="this.hayEncuesta">
      </ion-textarea>
    </ion-item>


    <ion-item>
      <ion-label class="centrado"><strong>¿Querés adjuntar imágenes?</strong></ion-label>
    </ion-item>

    <ion-item>

      <ion-card (click)="sacarFoto('imagen1')" *ngIf="imagen1tmp == null" class="imagen" [disabled]="this.hayEncuesta">
        <img src="../../../assets/imagenes/imagenSubirProducto.png" />
      </ion-card>
      <ion-card (click)="sacarFoto('imagen1')" *ngIf="imagen1tmp != null" class="imagen" [disabled]="this.hayEncuesta">
        <img [src]="imagen1tmp" />
      </ion-card>

      <ion-card (click)="sacarFoto('imagen2')" *ngIf="imagen2tmp == null" class="imagen" [disabled]="this.hayEncuesta">
        <img src="../../../assets/imagenes/imagenSubirProducto.png" />
      </ion-card>
      <ion-card (click)="sacarFoto('imagen2')" *ngIf="imagen2tmp != null" class="imagen" [disabled]="this.hayEncuesta">
        <img [src]="imagen2tmp" />
      </ion-card>

      <ion-card (click)="sacarFoto('imagen3')" *ngIf="imagen3tmp == null" class="imagen" [disabled]="this.hayEncuesta">
        <img src="../../../assets/imagenes/imagenSubirProducto.png" />
      </ion-card>
      <ion-card (click)="sacarFoto('imagen3')" *ngIf="imagen3tmp != null" class="imagen" [disabled]="this.hayEncuesta">
        <img [src]="imagen3tmp" />
      </ion-card>
    </ion-item>


    <!-- <ion-button color="primary" expand="block" (click)="mostrarencuestas()">OPINIONES DE NUESTROS CLIENTES</ion-button>  -->


    <ion-button color="success" expand="block" [disabled]="!encuestaForm.valid || this.hayEncuesta" type="submit">
      SUBIR ENCUESTA
    </ion-button>

    <br />
  </form>

</ion-content>

<!-- <ion-item>
   
    <ion-checkbox slot="end" formControlName="dejarComentario" color="danger" slot="start"></ion-checkbox>
  </ion-item> -->