
.category-block {
    margin-bottom: 4px;
}

.category-banner {
    border-left: 5px;//solid ;//var(--ion-color-secondary);
    //background: var(--ion-color-light);
    //height: 40px;
   // padding: 10px;
    font-weight: 500;
   
}

.comentario{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: pink;
    border-radius: 15px;

}

img {
    margin-left: 10%;
    
}

.header {
    text-align: center;
    --background: translucent;
    background-color: darkcyan;
   // color: #ffffff;
    color: black;
    font-size: 15px;
    
  }