<ion-content>
  <br />
  
    <img src="{{fotocliente}}" class="foto" />

 

  <hr />
  <form [formGroup]="aF" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating"><strong>NOMBRE</strong></ion-label>
      <ion-input
        type="text"
        formControlName="name"
        placeholder="Escriba su nombre aqui"
      ></ion-input>
    </ion-item>

    

    <br />

    <button
      class="botonRegistro"
      [disabled]="!aF.valid"
      type="submit"
    >
      INGRESAR COMO ANONIMO
    </button>

    <br />
  </form>

  <br>
  
  <ion-button class="full" (click)="sacarFotoCLiente()" color="tertiary"
    ><ion-icon name="camera"></ion-icon>SUBIR FOTO</ion-button
  >

  <ion-button class="full" (click)="volver()" color="warning"
    ><ion-icon name="return-up-back"></ion-icon>VOLVER</ion-button
  >
</ion-content>