<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Lista de espera</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let doc of listaDeEspera | async">
    <ion-card-header>
      <ion-card-title>Id: {{doc.idUsuario}}</ion-card-title>
      <ion-card-subtitle
        >Cliente: {{ doc.nombreUsuario }} {{ doc.apellidoUsuario
        }}</ion-card-subtitle
      >
      <ion-card-subtitle>Email: {{ doc.email }}</ion-card-subtitle>
      <ion-card-subtitle
        >{{doc.fechaYHora | date:'dd/MM/yyyy - HH:mm:ss'}}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Mesas disponibles</ion-label>
        <ion-select #mesas interface="action-sheet">
          <ion-select-option *ngFor="let doc of listaDeMesasDisponibles | async"
            >{{doc.numero}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-button
        (click)="aceptar(mesas.value, doc)"
        color="primary"
        expand="block"
        >Aceptar</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
