<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Realizar Pedido ($ {{ pedido.total }}) </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarPedido()">
        <ion-badge *ngIf="pedido.productos.length > 0">{{pedido.productos.length}}</ion-badge>
        <!-- <ion-badge>{{ pedido.length }}</ion-badge> -->
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-center>
        <ion-label>
          <font>
            
          </font>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [hidden]="esCliente">

      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let prod of productos | async" class="category-block">
    <ion-row no-padding class="category-banner">
      <!-- <ion-col text-left button tappable (click)="prod.expandido = !prod.expanded" align-self-center> -->
      <ion-col text-left button tappable align-self-center>
        {{prod.nombre}} - $ {{prod.precio}}
      </ion-col>
    </ion-row>
    <ion-slides [options]="sliderConfig">
      <ion-slide>
        <img [src]="prod.imagen1">
      </ion-slide>
      <ion-slide>
        <img [src]="prod.imagen2">
      </ion-slide>
      <ion-slide>
        <img [src]="prod.imagen3">
      </ion-slide>
    </ion-slides>
    <ion-row>
      {{prod.descripcion}}
    </ion-row>
    <ion-row expand="full">
      <ion-button expand="full" (click)="agregarProductoAPedido(prod)">Agregar al pedido</ion-button>
    </ion-row>
  </div>

</ion-content>